.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
        background-color: rgb(225, 248, 255);
    }

    &__remove-btn {
        padding: 5px;
    }
}